.L-mobile_header-block1 {
    width: 100%;
    height: 50px;
    background-color: rgb(12, 245, 0);
    position: fixed;
    display: flex;
    top: 0;
    

    .L-open-block {
        width: 50px;
        height: 50px;
        font-size: 25px;
        color: crimson;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
        

        &:hover .tops {
            width: 25px;
            transform: rotate(40deg);
            transition: 1s;

        }
        &:hover .bootoms{
            width: 25px;
            transform: rotate(-40deg);
            transition: 1s;

        }

        &:hover .centers{
            display: none;
            transition: 2s;
            
        }

        .tops {
            width: 35px;
            height: 7px;
            background-color: rgb(255, 253, 253);
            margin-bottom: 5px;
            transition: 2s;


        }
        .bootoms {
            width: 35px;
            height: 7px;
            background-color: rgb(255, 255, 255);
            transition: 2s;
            
            
           
        }

        .centers {
            width: 35px;
            height: 6px;
            background-color: rgb(255, 255, 255);
            margin-bottom: 5px;
            transition: 2s;
            
        }

       


    }



    .L-mobile_header-block {
        width: 100%;
        height: fit-content;
        background-color: rgb(245, 29, 0);
        display: flex;
        justify-content: space-between;
        display: none;



        .L-mobile_contact-links {
            color: black;

            .L-mobile_link1 {
                background-color: #f44336;
                color: white
            }

            .L-mobile_contact-link {
                padding: 10px 16px;
                font-family: "Raleway", Arial, Helvetica, sans-serif;
                font-weight: 200;
                cursor: pointer;
                text-decoration: none;
                text-align: center;

                .L-mobile_header-icon {
                    font-size: 20px;
                    margin-right: 15px;
                    font-family: "Raleway", Arial, Helvetica, sans-serif;
                    font-weight: 200;
                }

                &:hover {
                    background-color: rgb(215, 211, 211);
                    color: black;
                }
            }
        }

        .L-mobile_contact-link2 {
            padding: 10px 16px;
            font-family: "Raleway", Arial, Helvetica, sans-serif;
            font-weight: 200;
            cursor: pointer;
            background-color: #f1f1f1;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: rgb(215, 211, 211);
                color: black;
            }
        }
    }
}