.L-hotel-block{
    background-color: rgb(4, 9, 9);
    display: flex;
    justify-content: space-between;
}
.L-hotel-block1{
    width: 49%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}